.contact-container {
    padding: 100px 0 100px 0;
    width: 1100px;
    max-width: 95%;
    margin: auto;
    display: flex;
    align-items: flex-start;
}

.contact {
    position: relative;
    top: 132px;
    left: -80px;
}

.contact-form-container {
    position: relative;
    left: -145px;
}

.contact-fill {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.mail {
    color: #FFFFFF;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 6px;
}

input, textarea {
    background: #434343;
    padding: 8px 12px;
    outline: none;
    border: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    border-radius: 3px;
}

@media screen and (max-width: 390px) {
    .contact-container {
        flex-direction: column;
    }
    .contact {
        top: 0;
        left: 0;
    }
    .contact-form-container {
        left: 0;
    }
    .contact-fill {
        margin-top: 8px;
    }
}