.App {
  background-color: #272727;
  min-height: 100vh;
}

.event-music-image {
  background-image: url('https://images.pexels.com/photos/1763068/pexels-photo-1763068.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  height: 75vh;
  background-position: center;
  margin-top: 25px;
}